.Register {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.2)), url('../../assets/bg-login-register.jpg');
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: 100% 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.RegisterForm {
    padding: 2rem;
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8));
    border-radius: 10px;
    width: 450px;
    animation: 0.5s zoomin ease-in-out;
}
.RegisterForm h1 {
    color: #FFFFFF;
    text-align: center;
}
.RegisterForm input, .RegisterForm input:focus {
    background: transparent;
    color:#FFFFFF;
}

@keyframes zoomin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}