.movie {
    position: relative;
    background-color: #242323;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    overflow: hidden;
    margin: 1rem;
    max-width: 300px;
    max-height: 450px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.movie img {
    object-fit: cover;
    max-height: 450px;
    transition: transform 0.5s ease-in-out;
}
.movie:hover img{
    transform: scale(1.4);
}
.overview {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #FFFFFF;
    max-height: 100%;
    padding: 1rem;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
.movie:hover .overview {
    transform: translateY(80%); 
}

.movie:hover {
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.9);
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: rgba(28,28,28,0);
}
.favorite:hover i {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

